<!DOCTYPE html>
<html>
<head>
  <title>Love It or Leave It</title>
</head>
<body>
    <ul>
        <li><a href='/loveit/foods'>Favorite Foods</a></li>
        <li><a href='/leaveit/animals'>Favorite Animals</a></li>
        <li><a href='/leaveit/products'>Favorite Products</a></li>
        <li><a href='/loveit/movies'>Favorite Movies</a></li>
    </ul>
  <%- body %>
</body>
</html>